<template>
	<div class="row">
		<div class="col-md-12">
			<form method="post" name="addpost" id="addpost" action="#" enctype="multipart/form-data" class="my-3" @submit.prevent="addPost">
				<input type="hidden" name="_token" :value="csrf">
				<div class="form-group">
					<label>Post Title:</label>
					<input type="text" name="title" id="title" class="form-control" v-model="post.title">
					{{post.title}}
				</div>
				<div class="form-group">
					<label>Categories:</label>
					<select name="categorysid" class="form-control" id="categoryid" v-model="post.categoryid">
						<option value="">Choose Category name</option>
						<option :value="category.id" v-for="category in categories.data" :key="category.id">{{category.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Photo:</label>
					<div class="form-row">
						<div class="col-md-3" v-if="post.photo">
							<img :src="post.photo" class="img-responsive" height="70" width="90">
						</div>
						<div class="col-md-6">
							<input type="file" v-on:change="onImageChange" class="form-control-file">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Post Body:</label>
					<textarea name="body" class="form-control" id="body" v-model="post.body"></textarea>
				</div>
				<div class="form-group">
					<input type="submit" name="btnsubmit" value="Upload" class="btn btn-primary">
 				</div>
			</form>
		</div>
	</div>
</template>

<script>
	export default{
		data(){
			return{
				categories:{},

				csrf:'',
				post:{
					'title':'',
					'body':'',
					'categoryid':'',
					'photo':'',
				},
			}

		},
		mounted(){
			console.log('Component mounted Posts Create.');
			this.csrf=myToken.csrfToken

			this.getCategories();
		},
		methods :{
			getCategories(){
				axios.get('/api/categories').then((response)=>{
					console.log(response.data.data);
					this.categories=response.data;
				})
			},
			//for image
            onImageChange(e){
                let files=e.target.files || e.dataTransfer.files;
                if(!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file){
                let reader=new FileReader();
                let vm=this;
                reader.onload=(e)=>{
                    vm.post.photo=e.target.result;
                };
                reader.readAsDataURL(file);
            },
            addPost(){
            	axios.post('/api/posts',{
            		'title':this.post.title,
            		'body':this.post.body,
            		'categoryid':this.post.categoryid,
            		'photo':this.post.photo
            	}).then(response=>{
            		if(response.data.success){
            			alert(response.data.success);
            		}
            		this.post.title='';
            		this.post.body='';
            		this.post.categoryid='';
            		this.post.photo='';
            		window.location.href='/';
            	});
            }
		}
	}
</script>